.banner-text{
    background-color: rgb(230, 208, 208);
    opacity: .8;
    width: 75%;
    margin: auto;
    border-radius: 10px ;

}

ba
.picture{
    width: 250px;
    height: 20rem;
    
    border-radius: 200px;
}
 
.name{
    font-size: 30px;
    font-weight: bold;
}
.line{
    border-top: 5px dotted white;
    width: 50%;
    text-align: center;
    margin: auto;
}
.parraph{
    color: white;
    font-size: 25px;
    padding: 1rem;
}